<!DOCTYPE html>
<html>
<head>
<title>Edit Task</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="dark">

<div class="app-container">
<h2>Edit Task</h2>

<form method="POST" class="card">
<input name="content" value="{{ task.content }}" required>
<input type="datetime-local" name="due_time"
 value="{{ task.due_time.strftime('%Y-%m-%dT%H:%M') }}">
<button class="btn primary">Save</button>
<a href="/" class="btn danger">Cancel</a>
</form>

</div>
</body>
</html>